.searchForm {
    display: flex;
    align-items: center;
  }
  
  .searchInput {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    width: 200px;
  }
  
  .searchButton {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    transition: background-color 0.3s;
  }
  
  .searchButton:hover {
    background-color: #0056b3;
  }